@use "setup";

#about {
  padding: 100px 0;
  overflow: hidden;

  .about-left {
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 0.5s;
    overflow: hidden;
    img {
      display: block;
      margin: auto;
      width: 280px;
    }

    &.show {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .about-right {
    opacity: 0;
    transform: translate(50px, 0);
    transition: 0.5s;
    overflow: hidden;

    &.show {
      opacity: 1;
      transform: translate(0, 0);
    }

    h3 {
      color: setup.$primaryColor;
    }

    p {
      color: setup.$primaryColor;
      letter-spacing: 2px;
      line-height: 30px;
      font-weight: lighter;
      margin-top: 20px;
      font-size: 14px;
    }
  }
}
