@use "setup";

#jumbotron {
  margin-top: -80px;
  .jumbo {
    height: 620px;
    position: relative;
    background-image: url("../assets/image/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: -100px;
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      top: 0;
      background-image: linear-gradient(#9d6463, #e08786);
      opacity: 0.85;
      background-repeat: no-repeat;
    }

    .jumbo-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 580px;

      p:nth-child(1) {
        color: white;
        font-size: 28px;
      }

      p:nth-child(2) {
        color: #282423;
        font-size: 48px;
        font-weight: 600;
        line-height: 40px;
        margin-top: -10px;
      }

      .buttons {
        display: flex;
        .btn-explore {
          width: 150px;
          height: 40px;
          background-color: #e08786;
          font-size: 18px;
          color: white;
          border-radius: 10px;
          border: 2px solid #282423;
          transition: 0.5s;
          span {
            animation: blink 1s linear infinite;
          }

          &:hover {
            background-color: #282423;
            color: #e08786;
            font-size: 16px;
          }

          @keyframes blink {
            0% {
              opacity: 0;
            }
            25% {
              opacity: 0.5;
            }
            50% {
              opacity: 1;
            }
            75% {
              opacity: 0.5;
            }
            100% {
              opacity: 0;
            }
          }
        }

        .btn-resume {
          width: 150px;
          height: 40px;
          background-color: #282423;
          font-size: 18px;
          color: #e08786;
          border-radius: 10px;
          border: 2px solid white;
          margin-left: 15px;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          &:hover {
            background-color: #e08786;
            color: #282423;
            border: 2px solid #e08786;
            font-size: 16px;
          }
        }
      }
    }

    .jumbo-right {
      transform: translate(100px, 90px);
    }

    @media (max-width: 575.98px) {
      .jumbo-left {
        p:nth-child(1) {
          font-size: 24px;
        }

        p:nth-child(2) {
          font-size: 36px;
        }
      }

      .jumbo-right {
        display: none;
      }
    }
  }
}
