// Font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

//Color
$primaryColor: #b16c6c;
$secondaryColor: #2f2f2f;

//Styles
body {
  font-family: "Montserrat", sans-serif;
  background-color: #282423;
  overflow: hidden;
}
