@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background-color: #282423;
  overflow: hidden;
}

#navbar {
  border-bottom: 1px solid whitesmoke;
  position: relative;
  z-index: 10;
}
#navbar.sticky {
  position: fixed;
  background-color: #e08786;
  top: 0;
  left: 0;
  right: 0;
  transition: 1s;
  border-bottom: whitesmoke 2px solid;
}
#navbar .navbar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
#navbar .navbar .logo img {
  width: 50px;
}
#navbar .navbar .links {
  width: 700px;
  height: 40px;
  padding: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
}
#navbar .navbar .links ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
#navbar .navbar .links ul li {
  list-style-type: none;
  position: relative;
}
#navbar .navbar .links ul li a {
  line-height: 100px;
  text-decoration: none;
  color: whitesmoke;
  transition: 0.5s;
  position: relative;
}
#navbar .navbar .links ul li a::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transition: 0.5s;
}
#navbar .navbar .links ul li a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transition: 0.5s;
}
#navbar .navbar .links ul li a:hover {
  color: #2f2f2f;
}
#navbar .navbar .links ul li a:hover::before, #navbar .navbar .links ul li a:hover::after {
  transform: scaleX(1);
}
#navbar .navbar .links ul li a.active {
  color: #282423;
  font-weight: bold;
}
#navbar .navbar .sidebar {
  position: relative;
}
#navbar .navbar .sidebar .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  cursor: pointer;
  position: absolute;
  right: 2%;
  top: -15px;
  z-index: 3;
}
#navbar .navbar .sidebar .hamburger .line1 {
  transform-origin: 0 0;
}
#navbar .navbar .sidebar .hamburger .line3 {
  transform-origin: 0 100%;
}
#navbar .navbar .sidebar .hamburger span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: whitesmoke;
  border-radius: 36px;
  transition: 0.7s;
}
#navbar .navbar .sidebar .hamburger span.show1 {
  transition: all 0.7s;
  transform: rotate(45deg);
  background-color: white;
}
#navbar .navbar .sidebar .hamburger span.show2 {
  opacity: 0;
  transition: all 0.7s;
}
#navbar .navbar .sidebar .hamburger span.show3 {
  transition: all 0.7s;
  transform: rotate(-45deg) translate(0, 0);
  background-color: white;
}
#navbar .navbar .sidebar .links {
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  width: 0%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  transform: translate(0, 30);
}
#navbar .navbar .sidebar .links.active {
  width: 50%;
  visibility: visible;
  transform: translate(0, 0);
  opacity: 1;
}
#navbar .navbar .sidebar .links ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #b16c6c;
}
@media (min-width: 992px) {
  #navbar .navbar {
    padding: 10px 0;
  }
  #navbar .navbar .links {
    display: flex;
  }
  #navbar .navbar .sidebar {
    display: none;
  }
  #navbar .navbar .sidebar .hamburger {
    display: none;
  }
}

#jumbotron {
  margin-top: -80px;
}
#jumbotron .jumbo {
  height: 620px;
  position: relative;
  background-image: url("../assets/image/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -100px;
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
}
#jumbotron .jumbo::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  background-image: linear-gradient(#9d6463, #e08786);
  opacity: 0.85;
  background-repeat: no-repeat;
}
#jumbotron .jumbo .jumbo-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 580px;
}
#jumbotron .jumbo .jumbo-left p:nth-child(1) {
  color: white;
  font-size: 28px;
}
#jumbotron .jumbo .jumbo-left p:nth-child(2) {
  color: #282423;
  font-size: 48px;
  font-weight: 600;
  line-height: 40px;
  margin-top: -10px;
}
#jumbotron .jumbo .jumbo-left .buttons {
  display: flex;
}
#jumbotron .jumbo .jumbo-left .buttons .btn-explore {
  width: 150px;
  height: 40px;
  background-color: #e08786;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  border: 2px solid #282423;
  transition: 0.5s;
}
#jumbotron .jumbo .jumbo-left .buttons .btn-explore span {
  animation: blink 1s linear infinite;
}
#jumbotron .jumbo .jumbo-left .buttons .btn-explore:hover {
  background-color: #282423;
  color: #e08786;
  font-size: 16px;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
#jumbotron .jumbo .jumbo-left .buttons .btn-resume {
  width: 150px;
  height: 40px;
  background-color: #282423;
  font-size: 18px;
  color: #e08786;
  border-radius: 10px;
  border: 2px solid white;
  margin-left: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#jumbotron .jumbo .jumbo-left .buttons .btn-resume:hover {
  background-color: #e08786;
  color: #282423;
  border: 2px solid #e08786;
  font-size: 16px;
}
#jumbotron .jumbo .jumbo-right {
  transform: translate(100px, 90px);
}
@media (max-width: 575.98px) {
  #jumbotron .jumbo .jumbo-left p:nth-child(1) {
    font-size: 24px;
  }
  #jumbotron .jumbo .jumbo-left p:nth-child(2) {
    font-size: 36px;
  }
  #jumbotron .jumbo .jumbo-right {
    display: none;
  }
}

#about {
  padding: 100px 0;
  overflow: hidden;
}
#about .about-left {
  opacity: 0;
  transform: translate(-50px, 0);
  transition: 0.5s;
  overflow: hidden;
}
#about .about-left img {
  display: block;
  margin: auto;
  width: 280px;
}
#about .about-left.show {
  opacity: 1;
  transform: translate(0, 0);
}
#about .about-right {
  opacity: 0;
  transform: translate(50px, 0);
  transition: 0.5s;
  overflow: hidden;
}
#about .about-right.show {
  opacity: 1;
  transform: translate(0, 0);
}
#about .about-right h3 {
  color: #b16c6c;
}
#about .about-right p {
  color: #b16c6c;
  letter-spacing: 2px;
  line-height: 30px;
  font-weight: lighter;
  margin-top: 20px;
  font-size: 14px;
}

#expertise {
  position: relative;
  overflow: hidden;
  margin-top: -120px;
  padding: 150px 0px 100px 0px;
}
#expertise .memphis1 {
  position: absolute;
  top: -140px;
  left: -100px;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}
#expertise .memphis2 {
  position: absolute;
  top: -220px;
  right: -170px;
  z-index: -1;
}
#expertise .expertise {
  position: relative;
}
#expertise .expertise .head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#expertise .expertise .head h3,
#expertise .expertise .head h5 {
  color: #b16c6c;
}
#expertise .expertise .head .buttons {
  display: flex;
}
#expertise .expertise .head .buttons .expertise-btn {
  width: 150px;
  height: 40px;
  background-color: #282423;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.5s;
  margin: 0px 5px;
  display: flex;
  cursor: pointer;
}
#expertise .expertise .head .buttons .expertise-btn span {
  margin: auto;
  font-size: 14px;
  font-weight: bold;
  color: #b16c6c;
}
#expertise .expertise .head .buttons .expertise-btn:hover {
  background-color: rgba(155, 155, 155, 0.2);
}
#expertise .expertise .head .buttons .expertise-btn.active {
  background-color: #b16c6c;
  border: 2px solid white;
}
#expertise .expertise .head .buttons .expertise-btn.active span {
  color: white;
}
#expertise .expertise .head .expertise-contents {
  width: 100%;
}
#expertise .expertise .head .expertise-contents .content {
  border: 1px solid #e08786;
  border-radius: 10px;
  padding: 10px;
  margin-top: 40px;
  transition: 0.5s;
  transform: translate(0, -50px);
  opacity: 0;
}
#expertise .expertise .head .expertise-contents .content.show {
  opacity: 1;
  transform: translate(0, 0);
}
#expertise .expertise .head .expertise-contents .content p {
  color: #b16c6c;
}
#expertise .expertise .head .expertise-contents .content .skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#expertise .expertise .head .expertise-contents .content .skills .skill {
  width: 100px;
}
#expertise .expertise .head .expertise-contents .content .skills .skill p {
  text-align: center;
  margin-top: 5px;
  color: #b16c6c;
}
@media (min-width: 768px) {
  #expertise .memphis1 {
    position: absolute;
    top: -90px;
    left: -50px;
  }
  #expertise .memphis2 {
    position: absolute;
    top: -200px;
    right: -50px;
    z-index: -1;
  }
}

#portfolio-home {
  padding: 150px 0px 100px 0px;
  position: relative;
  margin-top: -80px;
  overflow: hidden;
}
#portfolio-home .memphis3 {
  position: absolute;
  left: 40%;
  top: -20px;
  z-index: -1;
}
#portfolio-home .memphis4 {
  position: absolute;
  right: 10%;
  top: 30px;
  z-index: -1;
}
#portfolio-home .portfolio {
  position: relative;
}
#portfolio-home .portfolio h3,
#portfolio-home .portfolio h5 {
  color: #b16c6c;
}
#portfolio-home .portfolio .head .buttons {
  display: flex;
  margin: 50px 0px 30px 0px;
  position: relative;
}
#portfolio-home .portfolio .head .buttons .portfolio-btn {
  font-size: 16px;
  color: #e08786;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#portfolio-home .portfolio .head .buttons .portfolio-btn:nth-child(2) {
  font-size: 16px;
  color: #b16c6c;
  margin-left: 30px;
}
#portfolio-home .portfolio .head .buttons .portfolio-btn.active {
  font-weight: bold;
}
#portfolio-home .portfolio .head .buttons .portfolio-btn.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #e08786;
}
#portfolio-home .portfolio .portfolio-contents {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#portfolio-home .portfolio .portfolio-contents .content-webdev {
  width: 324px;
  margin-top: 30px;
  transition: 0.5s;
  transform: translate(0, -50px);
  opacity: 0;
}
#portfolio-home .portfolio .portfolio-contents .content-webdev.show {
  opacity: 1;
  transform: translate(0, 0);
}
#portfolio-home .portfolio .portfolio-contents .content-webdev a {
  color: #b16c6c;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  display: block;
  transition: 0.5s;
}
#portfolio-home .portfolio .portfolio-contents .content-photo {
  width: 311px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  transition: 0.5s;
  transform: translate(0, -50px);
  opacity: 0;
}
#portfolio-home .portfolio .portfolio-contents .content-photo.show {
  opacity: 1;
  transform: translate(0, 0);
}
#portfolio-home .portfolio .portfolio-contents .content-photo a {
  text-decoration: none;
}
#portfolio-home .portfolio .portfolio-contents .content-photo .btn-photo {
  width: 150px;
  height: 40px;
  background-color: #282423;
  font-size: 18px;
  color: #b16c6c;
  border-radius: 10px;
  border: 2px solid white;
  text-align: center;
  margin-top: -20px;
  transition: 0.5s;
  display: flex;
}
#portfolio-home .portfolio .portfolio-contents .content-photo .btn-photo:hover {
  background-color: #b16c6c;
  color: white;
}
#portfolio-home .portfolio .portfolio-contents .content-photo .btn-photo span {
  margin: auto;
}
@media (max-width: 575.98px) {
  #portfolio-home .memphis3 {
    position: absolute;
    left: -50px;
    top: -110px;
    z-index: -1;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  #portfolio-home .memphis4 {
    position: absolute;
    right: -180px;
    top: -30px;
    z-index: -1;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

#contact {
  padding-top: 35px;
  border-top: 2px solid #e08786;
  overflow: hidden;
}
#contact .contact h3 {
  color: #e08786;
}
#contact .contact p {
  color: #e08786;
  font-size: 18px;
}
#contact .contact img {
  width: 180px;
  display: block;
  margin: auto;
  margin-top: 30px;
}
#contact .contact .socmed {
  width: 360px;
  display: flex;
  justify-content: space-around;
  margin-left: -10px;
}
#contact .contact .socmed img {
  width: 40px;
  cursor: pointer;
}
@media (min-width: 768px) {
  #contact .contact .socmed {
    transform: translate(0px, -100px);
    justify-content: space-between;
  }
}

#content {
  padding: 40px 0;
}
#content .content a {
  text-decoration: none;
}
#content .content .back {
  text-decoration: none;
  color: #e08786;
}
#content .content .gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#content .content .gallery .photo {
  width: 320px;
  margin-top: 20px;
  cursor: pointer;
}
@media (max-width: 575.98px) {
  #content .gallery .photo {
    width: 80%;
    margin-top: 25px;
  }
}

#modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}
#modal .modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
}

#close-modal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 24px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

#loader {
  background-color: rgba(177, 108, 108, 0.8);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#loader p {
  text-align: center;
  margin-top: -40px;
  font-size: 12px;
  color: white;
}
#loader .divLoader {
  transform: scale(0.5);
  margin-top: -30px;
}

/*# sourceMappingURL=main.css.map */
